wsdl/TEST_MOVE_IN.wsdl

  <?xml version="1.0" encoding="utf-8" ?> 
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
<wsdl:types>
<s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
<s:element name="DoOuterRCAVMvin">
<s:complexType>
<s:sequence>
  <s:element minOccurs="0" maxOccurs="1" name="xmlInput" type="s:string" /> 
  </s:sequence>
  </s:complexType>
  </s:element>
<s:element name="DoOuterRCAVMvinResponse">
<s:complexType>
<s:sequence>
  <s:element minOccurs="0" maxOccurs="1" name="DoOuterRCAVMvinResult" type="s:string" /> 
  </s:sequence>
  </s:complexType>
  </s:element>  
  </s:schema>
  </wsdl:types>
<wsdl:message name="DoOuterRCAVMvinSoapIn">
  <wsdl:part name="parameters" element="tns:DoOuterRCAVMvin" /> 
  </wsdl:message>
<wsdl:message name="DoOuterRCAVMvinSoapOut">
  <wsdl:part name="parameters" element="tns:DoOuterRCAVMvinResponse" /> 
  </wsdl:message>
<wsdl:portType name="OuterRCAVMvinServiceSoap">
<wsdl:operation name="DoOuterRCAVMvin">
  <wsdl:input message="tns:DoOuterRCAVMvinSoapIn" /> 
  <wsdl:output message="tns:DoOuterRCAVMvinSoapOut" /> 
  </wsdl:operation>
  </wsdl:portType>
<wsdl:binding name="OuterRCAVMvinServiceSoap" type="tns:OuterRCAVMvinServiceSoap">
  <soap:binding transport="http://schemas.xmlsoap.org/soap/http" /> 
<wsdl:operation name="DoOuterRCAVMvin">
  <soap:operation soapAction="http://tempuri.org/DoOuterRCAVMvin" style="document" /> 
<wsdl:input>
  <soap:body use="literal" /> 
  </wsdl:input>
<wsdl:output>
  <soap:body use="literal" /> 
  </wsdl:output>
  </wsdl:operation>
  </wsdl:binding>
<wsdl:binding name="OuterRCAVMvinServiceSoap12" type="tns:OuterRCAVMvinServiceSoap">
  <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" /> 
<wsdl:operation name="DoOuterRCAVMvin">
  <soap12:operation soapAction="http://tempuri.org/DoOuterRCAVMvin" style="document" /> 
<wsdl:input>
  <soap12:body use="literal" /> 
  </wsdl:input>
<wsdl:output>
  <soap12:body use="literal" /> 
  </wsdl:output>
  </wsdl:operation>
  </wsdl:binding>
<wsdl:service name="OuterRCAVMvinService">
<wsdl:port name="OuterRCAVMvinServiceSoap" binding="tns:OuterRCAVMvinServiceSoap">
  <soap:address location="http://tncmes07/COG/ChipMOS/WebService/OuterRCAVMvinService.asmx" /> 
  </wsdl:port>
<wsdl:port name="OuterRCAVMvinServiceSoap12" binding="tns:OuterRCAVMvinServiceSoap12">
  <soap12:address location="http://tncmes07/COG/ChipMOS/WebService/OuterRCAVMvinService.asmx" /> 
  </wsdl:port>
  </wsdl:service>
  </wsdl:definitions>